################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SenteRecruitment/.vs/SenteRecruitment/FileContentIndex
/SenteRecruitment/SenteRecruitment/obj/Debug/net8.0
/SenteRecruitment/SenteRecruitment/obj
/SenteRecruitment/SenteRecruitment/bin/Debug/net8.0
